In [44]:
import requests
import webbrowser
import pandas as pd
from datetime import datetime, timedelta
import pytz

In [ ]:
strava_auth_url = "http://localhost:8000/api/auth/strava"
webbrowser.open(strava_auth_url)

resp = requests.get("http://localhost:8000/api/activities?start_date=2023-09-30&end_date=2023-10-02")
activities = resp.json()

In [50]:
activity_df_list = []
df_keys = ["heartrate", "time", "distance"]
for activity in activities["activities"]:
    timezone = pytz.timezone(activity["timezone"].split(" ")[1])
    utc_timestamp = datetime.strptime(activity["start_date"], '%Y-%m-%dT%H:%M:%SZ')
    timestamp = timezone.localize(utc_timestamp)
    
    df = pd.DataFrame.from_dict({key: activity[key] for key in df_keys if key in activity})
    df['local_datetime'] = timestamp + df['time'].apply(lambda x: timedelta(seconds=x))
    df['utc_datetime'] = utc_timestamp + df['time'].apply(lambda x: timedelta(seconds=x))
    activity_df_list.append(df)

In [84]:
activity_df_list[0]

      heartrate  time  distance            local_datetime        utc_datetime
0           103     0         0 2023-10-01 08:46:47+02:00 2023-10-01 08:46:47
1           103     1         0 2023-10-01 08:46:48+02:00 2023-10-01 08:46:48
2           103     4         8 2023-10-01 08:46:51+02:00 2023-10-01 08:46:51
3           105     8        24 2023-10-01 08:46:55+02:00 2023-10-01 08:46:55
4           110     9        28 2023-10-01 08:46:56+02:00 2023-10-01 08:46:56
...         ...   ...       ...                       ...                 ...
1459        196  7434     21151 2023-10-01 10:50:41+02:00 2023-10-01 10:50:41
1460        198  7439     21173 2023-10-01 10:50:46+02:00 2023-10-01 10:50:46
1461        199  7442     21189 2023-10-01 10:50:49+02:00 2023-10-01 10:50:49
1462        201  7448     21213 2023-10-01 10:50:55+02:00 2023-10-01 10:50:55
1463        201  7450     21220 2023-10-01 10:50:57+02:00 2023-10-01 10:50:57

[1464 rows x 5 columns]

In [72]:
last_activity_timestamp

Timestamp('2023-10-01 10:50:57')

In [73]:
first_activity_timestamp = activity_df_list[0].head(1)['utc_datetime'].item()
unix_fats = (last_activity_timestamp - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [74]:
unix_fats

1696157457

In [86]:
spotify_auth_url = "http://localhost:8000/api/auth/spotify"
webbrowser.open(spotify_auth_url)

True

In [87]:

resp = requests.get("http://localhost:8000/api/tracks?end_date=1696177800000")
tracks = resp.json()

In [89]:
len(tracks["tracks"])

52

In [83]:
tracks["tracks"][51]

{'id': '5CxiS0P4Lvtpxr0iGIRXZG',
 'title': 'Gran Vals',
 'artist': ['Francisco Tárrega', 'Giulio Tampalini'],
 'album': 'Tarrega: Complete Works for Guitar',
 'release_date': '2002-01-01',
 'played_at': '2023-10-01T12:02:21.410Z',
 'track_length': 159506,
 'acousticness': 0.988,
 'danceability': 0.491,
 'energy': 0.0549,
 'instrumentalness': 0.889,
 'speechiness': 0.0665,
 'tempo': 108.972,
 'valence': 0.772}